body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img.center-logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

main {
    max-width: 600px; /* This width will limit how wide the main content can get, more closely matching mobile dimensions */
    margin: 20px auto;
    text-align: center;
}

main p strong {
    font-weight: bold;
    font-size: 1em;
    display: block;
    margin-top: 20px;
}

main p {
    font-size: 1em;
}

main p.steps {
    font-size: 1.5em;
}

button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.qr-section {
    text-align: center; /* Center alignment for better mobile appearance */
    padding: 0 20px; /* Padding instead of margin for better space usage */
}

div.qr-section p.qr-text {
    font-size: 1em;
    text-align: center;
}

div.qr-section img.qr-code {
    width: 50%; /* Larger width for QR code to be more visible on mobile */
}

footer p.disclaimer {
    font-size: 1em;
    text-align: center;
    background-color: #d3d3d3;
    padding: 20px;
    margin: 0 20px; /* Reduce side margins for mobile */
}

footer {
    font-size: 1em;
    margin-top: 50px;
}

/* Remove specific mobile query if you want uniformity across all devices */
